// variables

// colors

$main--color: #24ae90;
$purple--color: #a384e3;
$brown--color: #e9d99e;
$pink--color: #ea9dca;
$purple--icon: #8B97E8;
$light--grey: #80828c;
$light--black: #2E3555;
$light--bg: #f8f8f8;

// fonts

$font-x-small: 12px;
$font-small: 13px;
$font-medium: 14px;
$font-medium-2: 15px;
$font-big: 16px;
$font-large: 17px;

// other variables

$max: 'max-width: 768px';
$max--desk: 'max-width: 1000px';
$min--mobile: 'min-width: 768px';
$min--desk: 'min-width: 1024px';