main {
  grid-template-columns: auto 1fr;
}
@media screen and (max-width: 768px) {
  main {
    grid-template-columns: none;
  }
}

aside {
  background-color: #f8f8f8;
  min-height: 100vh;
  min-width: 270px;
}
@media screen and (max-width: 768px) {
  aside {
    display: none !important;
  }
}
aside .profil {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
aside .profil .avatar {
  width: 40px;
  height: 40px;
}
aside .profil .avatar .abs--avatar {
  width: 25px;
  height: 25px;
  bottom: -5px;
  right: -10px;
  border: 2px solid #fff;
}
aside .profil .heading {
  font-size: 14px;
  color: #2E3555;
}
aside .profil .description {
  font-size: 13px;
  color: #80828c;
  font-weight: 500;
}
aside .dashboard {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
aside .icon {
  color: #80828c;
  font-size: 1.14rem;
}
aside .icon-fa {
  color: #80828c;
  font-size: 0.96rem;
}
aside .name {
  color: #80828c;
  font-weight: 500;
}
aside .list .world {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  padding-bottom: 20px !important;
}
aside li {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .home {
    padding: 20px;
    background-color: #fff;
  }
}
@media screen and (max-width: 768px) {
  .home {
    margin: 20px 0;
  }
}
.home .up--bar .icon {
  color: #80828c;
  font-size: 1.3rem;
  padding-right: 15px;
}
.home .up--bar .target {
  color: #80828c;
  font-size: 15px;
  padding-left: 15px;
}
.home .up--bar .target::before {
  content: "";
  position: absolute;
  left: -15px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.07);
  width: 1px;
  margin: 0 15px;
}
.home .up--bar .main-target {
  color: #2E3555;
  font-size: 15px;
}
.home .main--home {
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.home .main--home .box {
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.07);
}
.home .main--home .box .icon {
  color: #24ae90;
  font-size: 1.5rem;
  z-index: 2;
  flex-shrink: 0 !important;
  background-color: #FFF;
}
.home .main--home .box .description {
  color: #80828c;
  font-size: 14px;
}
.home .main--home .box .stats {
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
}
.home .main--home .box .big-num {
  color: #2E3555;
  font-size: 1.2rem;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .home .main--home .box .big-num {
    font-size: 2rem;
  }
}
.home .main--home .box .small-num {
  color: #80828c;
  font-size: 13px;
}
.home .main--home .box .type {
  color: #80828c;
  font-size: 12px;
}
@media screen and (max-width: 1000px) {
  .home .main--home {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
.home .main--home .profil .avatar {
  width: 45px;
  height: 45px;
}
.home .main--home .profil .heading {
  color: #2E3555;
  font-size: 15px;
}
.home .main--home .profil .desc {
  color: #80828c;
  font-size: 13px;
}
.home .main--home .info .title {
  color: #80828c;
  font-size: 14px;
}
.home .main--home .info .text {
  color: #2E3555;
  font-size: 14px;
}
.home .main--home .req-btn button {
  border: 1px solid #e5e5e5 !important;
  border-radius: 25px !important;
  min-height: 30px !important;
  color: #80828c;
  font-weight: 500;
  font-size: 15px;
}
.home .main--home .miss::before {
  content: "";
  position: absolute;
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.07);
  left: 18px;
  z-index: 1;
}
.home .main--home .miss .icon {
  color: #24ae90;
  font-size: 2.5rem;
  z-index: 2;
  background-color: #FFF;
}
.home .main--home .miss .x-small-heading {
  font-size: 0.8rem;
  color: #2E3555;
}
.home .main--home .miss .info-details {
  color: #80828c;
  font-size: 12px;
}
.home .main--home .miss .num {
  background-color: #f5f5f5;
  height: 36px;
  z-index: 2;
  width: 36px;
  font-size: 12px;
  color: #80828c;
  border-radius: 50%;
  flex-shrink: 0 !important;
}
.home .main--home .circle-1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ea9dca;
}
.home .main--home .circle-2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e9d99e;
}
.home .main--home .circle-3 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a384e3;
}
.home .main--home .inf-circle {
  color: #2E3555;
  font-size: 14px;
  font-weight: 500;
}
.home .main--home .date {
  color: #2E3555;
  font-size: 14px;
}
.home .main--home .next span {
  color: #24ae90;
}
.home .main--home .next .ic {
  color: #80828c;
  font-size: 16px;
}/*# sourceMappingURL=begin.css.map */